.row.main {
  margin: 10px;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

.pulse {
  opacity: 0.75;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 10;
}
.nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
	padding: 5px;
}
.nav>li:before, .nav>li:after {
}
.nav>li>a:after, .nav>li>a:before {
	content: " | ";
}
.thumb {
display: none;
}
.clear {
	clear: both
}